.card {
  height: 400px;
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: #000 solid 2px;
  border-radius: 10px;
  padding: 10px;
  &_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    &_title {
      align-self: center;
      font-weight: 500;
      font-size: 24px;
    }
    &_text {
      align-self: center;
      font-size: 18px;
    }
  }
}
