.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../assets/landing_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  &_navbar {
    height: 20%;
    width: 100%;
  }
  &_body {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 2em;
      font-size: 56px;
      text-align: left;
      transition: all 500ms ease-in-out;
      &_t {
        old {
          display: block;
        }
        new {
          display: none;
        }
      }
    }

    &_anime {
      height: 50%;
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 5.6em;
      padding-top: 3.9em;
      &_head {
        height: 90%;
        width: 100%;
        padding-bottom: 2em;
        // animation-name: bounce;
        // animation-duration: 4s;
        // animation-timing-function: ease-in;
        // animation-iteration-count: 1;
        // animation-fill-mode: forwards;
      }
    }
  }
}
// @keyframes bounce {
//   0% {
//     transform: translate(0px, 0px);
//   }
//   10% {
//     transform: translate(100px, 250px);
//   }
//   20% {
//     transform: translate(100px, 50px);
//   }
//   40% {
//     transform: translate(160px, 200px);
//   }
//   50% {
//     transform: translate(50px, 100px);
//   }

// 75% {
//   transform: translate(100px, 50px);
// }
// 100% {
//   transform: translate(50px, 200px);
// }
// }

.landing_body_text_t_new,
.landing_body_text_about_new,
.landing_body_text_work_new {
  display: none;
}

.landing_body_text_t:hover .landing_body_text_t_old {
  display: none;
}

.landing_body_text_about:hover .landing_body_text_about_old {
  display: none;
}
.landing_body_text_work:hover .landing_body_text_work_old {
  display: none;
}

.landing_body_text_t:hover .landing_body_text_t_new {
  display: block;
}

.landing_body_text_about:hover .landing_body_text_about_new {
  display: block;
}
.landing_body_text_work:hover .landing_body_text_work_new {
  display: block;
}
